<%- include('mentor_aside.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <link rel="stylesheet" href="/css/mentor_home.css">
  <div id="active_doubt-cntnr">
    <% for (doubt of doubt){ %>
    <li class="doubt-Card">
        <div class="inner-div">
            <p class="title-name"><%= doubt.title %></p>
            <a class ="accept-btn" href="/mentor/active-doubts/<%= doubt.id %>">Accept</a>
        </div>

        <div class="inner-div div2">
            <span class="desc"><%= doubt.description %></span>
            <p class="asked-by">Asked by: <span class="user-name"><%= doubt.student.name %></span></p>
        </div>

      </li>
    <%}%>
    </div>
  
</body>
</html>