<link rel="stylesheet" href="/css/student_dashboard.css">


<%- include("aside.ejs") %>




<div id="post-cntnr">
  <!-- <ul id="post-cntnr"> -->
    <% for (doubt of doubt){ %>
      <li style="width: 70%;margin-left: 15%; margin-top: 30px;" id="doubt-box">
    <div class="inner-div">
        <h3 id="Title"><%= doubt.title %></h3>

        <% if (doubt.status == 'active'){ %>
          <div class="status active"><%= doubt.status %></div>
        <%}else{%>
          <div class="status resolved"><%= doubt.status %></div>
          <%}%>
        <!-- <label for="title">Title:</label></br> -->
        <label for="title">Description:</label></br>
        <p><%= doubt.description %></p>

        <p id = "asked-by">Asked by: <span id='user-name'><%= doubt.student.name %> </h2> </p>
        
      </div>
      <br>


      <span>this the first comment</span>
      <form action="">
        <input class="comment-input" type="text" placeholder="Type the comment here....">
        <input id="cmt-btn" type="submit" value="Publish">
      </form>
    </li>
    <%}%>
</div>



